html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  overflow: hidden;
  justify-content: center;
  background-image: url("../images/background_game.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reiniciar {
  letter-spacing: 1px;
  font-size: large;
  position: relative;
  width: 150px;
  height: 40px;
  border: 1px solid #50344b;
  border-radius: 5px;
  display: flex;
  background-color: #93f5a7;
  color: #50344b;
  box-shadow: 0px 6px 0 #50344b;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.reiniciar:hover {
  color: #50344b;
  letter-spacing: 0;
  top: 2px;
  box-shadow: 0px 4px 0 #50344b;
  border: 1px solid #50344b;
}

#rank-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
  
.theme-rank {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
h2 {
  margin-top: 0;
  font-family: cursive;
  font-size: x-large;
  color: #93f5a7;
}

th {
  padding: 10px;
  text-align: left;
  font-family: cursive;
  text-transform: uppercase;
  border-bottom: 2px solid #93f5a7;
  border-right: 2px solid #93f5a7;
}
  
td {
  padding: 10px;
  font-family: cursive;
  border-bottom: 2px solid #93f5a7;
  border-right: 2px solid #93f5a7;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #93f5a7;
}

table th, table td {
  padding: 10px;
  text-align: left;
}

table th {
  font-weight: bold;
}

table td {
    border-bottom: 1px solid #ddd;
}

@media (min-width: 600px) {
    #rank-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}